@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

/*Main container*/
.form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  backdrop-filter: blur(10px);
}

/*Container for form elements*/
.form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
/*Container for header and close btn*/
.form-header-btn {
  display: flex;
  flex-direction: row;
  gap: 15rem;
}
/*Close btn*/
.form-close-btn {
  width: 2rem;
  height: 2rem;
  /*Horizontal (positive to the right)
    Vertical (positive to the down)
  */
  transition: transform 0.2s ease-in-out;
}
.form-close-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/*Header*/
.form-header {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5rem;
}
/*Terms and Services section*/
.form-tns {
  margin-top: -2rem;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  text-align: center;
  transform: translateX(-12%);
}
.form-tns-link {
  color: black;
}

/*Form labels*/
.form-label {
  font-size: 1.4rem;
}
/*Form Input*/
.form-input {
  width: 60%;
  height: 2.3rem;
  margin-bottom: 0.7rem;
  user-select: none;
  border: none;
  border-radius: 0.2rem;
}
/*To remove the inside border when clicking on label*/
.form-input:focus {
  outline: none;
}
.form-input:last-child {
  margin-bottom: 0;
}
/*Container for socials sign up*/
.form-social-signup {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1.2rem;
}
/*Socials sign up buttons*/
.form-social-signup-btn {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  height: 4rem;
  font-size: 1.1rem;
  transition: transform 0.2s ease-in-out;
  transform-origin: top;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.form-social-signup-btn:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
}

/*Social btns individually*/
.facebook {
  background: rgb(59, 89, 152);
}
.instagram {
  /* Start color of gradient */
  background: linear-gradient(
    45deg,
    #f58529,
    #dd2a7b,
    #8134af,
    #515bd4,
    #0f52ba
  );
  color: black;
}

.google {
  background: linear-gradient(to bottom right, #d93025, #dd4b39, #e8593b);
}

/*Socials sign up button icons*/
.form-socials-icon {
  width: 2rem;
  height: 2rem;
}

.facebook-icon {
  height: 5rem;
  width: 3rem;
}

/*Form Submit btn*/
.form-submit-btn {
  margin-top: 1.4rem;
  position: relative;
  width: 20%;
  align-self: center;
  border: none;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #130218;
  color: #ffffff;
}

/*Pseudo element for submit-btn*/
.form-submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 90%;
  border: none;
  border-radius: 0.5rem;
  transition: width 0.3s ease-in-out;
}

.form-submit-btn:hover::before {
  width: 98%;
  border: 2px solid aqua;
  cursor: pointer;
}
