@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  backdrop-filter: blur(10px);
}

.form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.form-header-btn {
  display: flex;
  flex-direction: row;
}

.form-close-btn {
  width: 2rem;
  height: 2rem;
  color: black;
  /*Horizontal (positive to the right)
    Vertical (positive to the down)
  */
  transform: translate(20%, -35%);
  transition: transform 0.2s ease-in-out;
}
.form-close-btn:hover {
  cursor: pointer;
  transform: translate(20%, -35%) scale(1.2);
}

.form-header {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5rem;
}
.form-tns {
  margin-top: -2rem;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  text-align: center;
}
.form-tns-link {
  color: black;
}

.form-label {
  font-size: 1.4rem;
}
.form-input {
  width: 60%;
  height: 2.3rem;
  margin-bottom: 0.7rem;
  user-select: none;
}
/*To remove the inside border when clicking on label*/
.form-input:focus {
  outline: none;
}
.form-input:last-child {
  margin-bottom: 0;
}
