@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

/*Main container*/
.form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  backdrop-filter: blur(10px);
}

/*Container for form elements*/
.form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border: 2px solid black;
  padding: 1rem 2rem;
}
.signUp-form {
  top: 50%;
}
.password-reset-form {
  padding: 1rem 4rem;
}
.resetPassword-reset-form {
  width: 40%;
}
/*Container for header and close btn*/
.form-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
/*Close btn*/
.form-close-btn {
  width: 2rem;
  height: 2rem;
  /*Horizontal (positive to the right)
    Vertical (positive to the down)
  */
  transition: transform 0.2s ease-in-out;
}
.form-close-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.form-login-close-btn {
  position: absolute;
  right: 0;
}
.form-signup-close-btn {
  position: absolute;
  right: 0;
}
.password-reset-close {
  position: absolute;
  right: -7%;
}
/*Header*/
.form-header-text {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5rem;
}
/*Terms and Services section*/
.form-tns {
  margin-top: -2rem;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  text-align: center;
  transform: translateX(-12%);
}
.form-tns-link {
  color: black;
}
.login-tns {
  transform: translateX(1%);
}
.signup-tns {
  transform: translateX(-4%);
}
/*Form labels*/
.form-label {
  font-size: 1.4rem;
}
/*Form Input*/
.form-input {
  width: 60%;
  height: 2.3rem;
  margin-bottom: 0.7rem;
  user-select: none;
  border: none;
  border-radius: 0.2rem;
}
.password-reset-input,
.form-input-resetPassword {
  width: 100%;
}
/*To remove the inside border when clicking on label*/
.form-input:focus {
  outline: none;
}
.form-input:last-child {
  margin-bottom: 0;
}

/*Container for socials sign up*/
.form-social-signup {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1.2rem;
}
/*Socials sign up buttons*/
.form-social-signup-btn {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  height: 4rem;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
  transform-origin: top;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.form-social-signup-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 13px 12px 5px rgba(0, 0, 0, 0.3);
}

/*Social btns individually*/
.google-btn {
  display: flex;
  border: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 3px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
  width: calc(100% - 10px);
  overflow: hidden;
  padding: 0.4rem 10px;
  user-select: none;
  height: 4rem;
  background: rgb(239, 240, 238);
  text-transform: uppercase;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  transition: transform 0.2s ease-in-out 0s;
  transform-origin: center top;
}

.google-btn:hover {
  background-color: rgb(206, 200, 200);
}

.google-div-one {
  align-items: center;
  display: flex;
  height: 100%;
}
.google-div-two {
  display: flex;
  justify-content: center;
  min-width: 26px;
}
.google-div-three {
  width: 10px;
}

.google-div-four {
  text-align: left;
  width: 100%;
}

/*Socials sign up button icons*/
.form-socials-icon {
  width: 2rem;
  height: 2rem;
}

.facebook-icon {
  height: 5rem;
  width: 3rem;
}

/*Form Submit btn*/
.form-submit-btn {
  margin-top: 1.4rem;
  position: relative;
  width: 20%;
  align-self: center;
  border: none;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #130218;
  color: #ffffff;
}

.form-submit-delete-btn {
  position: absolute;
  right: 1.5%;
  top: 13%;
}

/*Pseudo element for submit-btn*/
.form-submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 90%;
  border: none;
  border-radius: 0.5rem;
  transition: width 0.3s ease-in-out;
}

.form-submit-btn.enabled:hover::before,
.form-submit-clear-btn:hover::before,
.form-submit-delete-btn:hover::before {
  width: 98%;
  border: 2px solid aqua;
  cursor: pointer;
}

.forgot-password-link {
  color: black;
  font-size: 1.2rem;
  align-self: center;
}

.Toastify__toast {
  font-size: 1.2rem; /* Adjust the font size as per your preference */
  margin-top: 7rem;
}
