@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

.Main {
  background-color: #d3d6db;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  color: #130218;
  margin-top: -2rem;
  text-align: center;
}

.body-title {
  text-align: center;
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  position: relative;

  /* for the text gradient */
  background: linear-gradient(to right, #61dafb, #007bff);
  /* This is to control the area within an element to which the background is applied*/
  background-clip: text;
  /* This is for browser compatability*/
  -webkit-background-clip: text;
  /* To hide the actual text color*/
  color: transparent;
}

/* For the text underline */
.body-title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 0.15rem;
  /* background: black; */
  background: linear-gradient(to right, #61dafb, #007bff);
}

/* Content */
.body-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}

.body-secondary-title {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: underline;
}

.content-points {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content-points-items {
  font-size: 1.3rem;
  margin: 0;
  text-align: left;
}
.content-point-items-heavy {
  font-weight: 500;
}
.content-imgs-flex {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.item-link {
  color: black;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-left: 0.75rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}

.item-link:hover {
  cursor: pointer;
  color: #61dafb;
  transform: scale(1.1);
}

.algorithm-img {
  border: 1px solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.algos-secondary-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.sub-title,
.secondary-title {
  text-decoration: underline;
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: -4rem;
  margin-bottom: 1.5rem;
}

.algos-interior {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.secondary-title {
  font-size: 1.3rem;
  margin-top: -0.75rem;
}

.interior-paragraph {
  margin-top: 0.2rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  text-align: left;
  list-style-type: circle;
}

.interior-paragraph:last-child {
  margin-bottom: 0.75rem;
}
