@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

.Main {
  background-color: #d3d6db;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  color: #130218;
  margin-top: -2rem;
}
