@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

.navbar {
  font-family: "Bruno Ace", cursive;
  display: flex;
  position: sticky;
  top: 0;
}

.navbarHeader {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}
.navbar-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 15px;
}

.navbar-ul-item {
  color: #ffffff;
}
.navbar-ul-item {
  margin-right: 1.5rem;
  transition: transform 0.3s ease-in-out;
}
.userAccountInfo {
  margin-right: 2rem;
}
.navLink {
  color: #ffffff;
}
.navLink.active {
  color: #61dafb;
}

.navbar-ul-item li:last-child {
  margin-right: 0;
}

.navbar-ul-item:hover,
.navLink:hover {
  cursor: pointer;
  color: #61dafb;
  transform: scale(1.1);
}

.navbar-ul-user {
  margin-left: 30px;
  display: flex;
}
.navbar-ul-btn {
  text-decoration: none;
  border: 2px solid aqua;
  padding: 2px 8px;
  border-radius: 4px;
  color: white;
  /* background-color: aqua; */
}

.navbar-ul-btn:hover {
  color: aqua;
  border: 2px solid white;
}
.Nav-logo {
  height: 3vmin;
  pointer-events: none;
  margin-top: 4px;
  margin-left: 2px;
}
.hidden {
  display: none;
}
/*This animation will only be applied if the user has not set a preference for motion reduction in the OS or browser*/
@media (prefers-reduced-motion: no-preference) {
  .Nav-logo {
    animation: Nav-logo-spin infinite 20s linear;
  }
}
/**/
@keyframes Nav-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
